services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MYSQL_DATABASE: ajio_db
      MYSQL_ROOT_PASSWORD: Ajio@14
    volumes:
      - mysql_data:/var/lib/mysql
    command: >
      --default-authentication-plugin=mysql_native_password
      --innodb-buffer-pool-size=128M
      --max-connections=50
    networks:
      - ajio_net

  web:
    build: .
    restart: unless-stopped
    command: gunicorn ajio.wsgi:application --bind 0.0.0.0:8000 --workers 1 --timeout 180 --access-logfile - --error-logfile -
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./media:/app/media
    networks:
      - ajio_net

volumes:
  mysql_data:

networks:
  ajio_net:
    driver: bridge

