services:
  db:
    image: mysql:8.0
    container_name: ajio_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ajio_db
      MYSQL_ROOT_PASSWORD: Pooja@14
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    container_name: ajio_web
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./media:/app/media
    depends_on:
      - db
    restart: unless-stopped

volumes:
  mysql_data:
